# https://editorconfig.org

root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
indent_size = 2
indent_style = space

[{*.go, Makefile}]
indent_style = tab

[testdata/**/*]
insert_final_newline = false
